$lt-gray: #ddd;
$background-dark: #004d40;
$background-light: #009688;
$background-pale: #e0f2f1;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.footer{
    background-color: $background-dark;
    color: $lt-gray;
    @include zero-margin(20px, 0px);
    width:100%;
}

.btn-home {color:$lt-gray!important;}
.btn-contact {color:$lt-gray!important;}