@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


// some basic resets

$lt-gray: #ddd;
$background-dark: #004d40;
$background-light: #009688;
$background-pale: #e0f2f1;
$primary-color-dark:   #00bfa5;
$primary-color:       #1de9b6;
$primary-color-light:  #64ffda;
$primary-color-text:   #FFFFFF;
$accent-color:         #004d40;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}


.background-primary {
    background-color: $background-dark!important;
  }
.background-accent {
    background-color: $accent-color!important;
  }
.text-floral-white {
    color: floralwhite!important;
}

.flex-spacer {
  flex: 1 1 auto;
}

.vert-flex-spacer {
  flex: 100%;
}

.highlight {
  background-color: $background-pale;
  border: 1px solid $background-pale;
  z-index: 1;
  transform: scale(1.01);
}

.container {
    margin: 20px;
    display: flex;
}


.mat-tab-group {
  .mat-tab-label-active {
    border-bottom-color: $accent-color;
  }

  
}